<?xml version="1.0" encoding="utf-8"?>
<ghed>
  <editor></editor>
  <filters>
    <filter>Feature Files (*.feature |*.feature;*.feature</filter>
    <filter>All files (*.*)|*.*</filter>
  </filters>
  <fonts>
    <filefont>
      <name>Consolas</name>
      <bold>False</bold>
      <italic>False</italic>
      <size>8.25</size>
      <underline>False</underline>
    </filefont>
  </fonts>

  <formstate>Normal</formstate>
  <formleft>9</formleft>
  <formtop>8</formtop>
  <formwidth>1261</formwidth>
  <formheight>1009</formheight>
  <mruitem1 name="" path="" />
  <mruitem2 name="" path="" />
  <mruitem3 name="" path="" />
  <mruitem4 name="" path="" />
  <tabwidth>25</tabwidth>
  <searchHistory>
  </searchHistory>
  <searchMatchCase>N</searchMatchCase>
  <searchInAttributes>N</searchInAttributes>
</ghed>